main{
    background-color: rgb(249, 234, 255);
}
body{
    background-color: rgb(249, 234, 255);
}

nav{
    background-color: rgb(108, 238, 225);
}
table{
    border-collapse: collapse;
}

tr:nth-of-type(1)> th{
    background-color: blueviolet;
    font-style: italic;
    font-palette: white;
}
.Solfeo{
    background-color: rgb(165, 193, 255);
}
.Teclado{
    background-color: rgb(206, 206, 206);
}
.Expresion{
    background-color: rgb(175, 250, 255);
}
.Opera{
    background-color: rgb(255, 154, 154);
}
.Ballet {
    background-color: rgb(255, 171, 247);
}
.Libre{
    background-color: aliceblue;
}
.Canto{
    background-color: rgb(216, 138, 255);
}
.Correpeticion{
    background-color: rgb(159, 7, 133);
}
.Interpretacion{
    background-color: rgb(230, 0, 255);
}